.hidden {
    display: none;
}

#flash {
    font-size: 18pt;
}

#flash.good {
    background-color: lightgreen;
}

#flash.bad {
    background-color: lightred;
}

button {
    width: 48%;
    margin: 5px auto;
    font-size: 32pt;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear {
    clear: both;
}

#tracker_ui {
    margin: 5px auto;
    width: 400px;
}

#tracker_ui #missed, #tracker_ui #supplement {
    width: 100%;
}

/*
#timer {
    width: 350px;
    height: 200px
}
*/

#timer {
    position: relative;
}

#timer h1 {
    font-size: 40pt;
    margin: 5px;
    text-align: center;
}

#timer textarea {
    width: 90%;
    margin: 5px auto;
}

#timer button {
    text-align: center;
    font-size: 16pt;
    width: 30%;
}
