
button {
    width: 48%;
    margin: 5px auto;
    font-size: 32pt;
}

.clear {
    clear: both;
}

#tracker_ui {
    margin: 5px auto;
    width: 400px;
}

#tracker_ui #left, #tracker_ui #bm {
    float: left;
}

#tracker_ui #right, #tracker_ui #wet {
    float: right;
}

#tracker_ui #missed, #tracker_ui #supplement {
    width: 100%;
}

/*
#timer {
    width: 350px;
    height: 200px
}
*/

#timer h1 {
    font-size: 32pt;
    margin: 5px;
    text-align: center;
}

#timer .buttons {
    text-align: center;
}