{{#each days}}
<table>
  <thead>
    <tr>
      <th>{{this.date}}</th>
    </tr>
    <tr>
      <th>Hour</th>
      <th>Left</th>
      <th>Right</th>
      <th>Wet</th>
      <th>BM</th>
      <th>Comments</th>
    </tr>
  </thead>
  <tbody>
    {{#each this.hours}}
      <tr>
        <td>{{this.hour}}</td>
        <td>{{this.left}}</td>
        <td>{{this.right}}</td>
        <td>{{this.wet}}</td>
        <td>{{this.bm}}</td>
        <td>
          {{#each this.comments}}
            {{this}}
            <br />
          {{/each}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{/each}}
