<div id="supplement_form">
  <input placeholder="mL" type="text" name="supplement_amount" id="supplement_amount" />
  <select name="supplement_type" id="supplement_type">
    <option value="human">Human Milk</option>
    <option value="formula">Formula Milk</option>
    <option value="other">Other</option>
  </select>
  <div class="ui-block-a"><button data-theme="b" name="save" type="button">Save</button></div>
  <div class="ui-block-b"><a href="#one" data-role="button" data-rel="back">Back</a></div>
</div>

