<div id="timer">
  <form>
    <input type="hidden" id="side" name="side" />

    <h1 id="display">00:00</h1>

    <div class="ui-grid-a">
      <div class="ui-block-a">
        <a href="#" data-role="button" data-theme="e" autofocus="autofocus" id="start">start</a>
        <a href="#" data-role="button" style="display: none;" data-theme="e" id="pause">pause</a>
      </div>
      <div class="ui-block-b">
        <a href="#" data-role="button" data-theme="c" id="reset">reset</a>
      </div>
    </div>
    <button id="timer_done" data-theme="b" type="button">Save</button>
  </form>
</div>
